In [1]:
import numpy as np
from scipy.cluster.hierarchy import linkage, dendrogram
import pandas as pd
import seaborn as sns
from sklearn import linear_model

In [6]:
data = pd.read_csv('FinalDataF.csv', encoding='latin-1')

In [7]:
data

,Title,Abstract
0,A CASE STUDY OF DRIVER'S LICENSE PROCESSES ON ...,A Case Study on Driver's License Processes was...
1,A CASE STUDY ON POULTRY EGG PRODUCTION BUSINESS,A Case Study on Poultry Egg Production Busines...
2,DESIGN AND DEVELOPMENT OF A FIRE DETECTION AND...,A fire detection and alarm system prototype ba...
3,"A KNOWLEDGE-BASED SYSTEM N MATCHING TREE, PLAN...","A Knowledge-Based System on Matching of Tree, ..."
4,DESIGN AND DEVELOPMENT OF MEMORANDUM PRIORITIZ...,A memorandum is a means of inter-office corres...
...,...,...
375,NaN,NaN
376,NaN,NaN
377,NaN,NaN
378,NaN,NaN
379,NaN,NaN